:root{
    --primary-text-color : #f7f7f7;
    --red:red;
    --webshop-color:#EDD23B;
    --buy-now-color:rgb(56, 56, 56);
}
body{
    background-color: black;
    margin: 0;
    padding: 0;
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
}
.inactive{
    display: none;
}
.left-fade{
    animation: menu-fade 0.3s;
}


        /* This code wil give style to the navbar */


        /* Styles for background items and logo */
.background-image{
    z-index: -10;
    top: 0;
}
#background-image-shadow{
    background-color:black;
    display: grid;
    width: 99vw;
    height: 100vh;
    z-index: -9;
    position: absolute;
    opacity: 0.65;
    overflow: hidden;
}
#background-image-shadow img{
    position: absolute;
    width: 512px;
    bottom: -250px;
    opacity: 1;
    z-index: 1;
    justify-self: center;
    object-fit: contain;
}
.background-image img{
    position: relative;
    margin: 0;
    padding: 0;
    width: 99vw;
    height: 100vh;
    z-index: -10;
    object-fit: cover;
}
.social{
    width:100%;
    padding: 0 35%;
    box-sizing: border-box;
    position:absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    left: auto;
    /* margin: auto; */
    margin-bottom: 2%;
    justify-content: space-evenly;
    align-items: center;
    z-index: 20;
}
.social a{
    text-decoration: none;
    color: var(--primary-text-color);
}
.social a:hover{
    color: var(--red);
}


        /* STYLES FOR THE ABOUT BAND CONTENT */
.content{
    display: flex;
}
.content article{
    width: 62%;
    margin-left: 19%;
    margin-top: 100px;
}
#info{
    width:100%;
}
        /* MERCH WEBSHOP SECTION STYLES */
#webshop{
    display: block;
    text-align: center;
    border: 4px solid white;
    margin: 0 0 0 19%;
}
#webshop a{
    color: var(--primary-text-color);
    text-decoration: none;
}
#webshop p{
    font-size: 2.5rem;
}
#webshop img{
    width: 100%;
    opacity: .7;
}
        /* LAST RELEASE SECTION STYLES */
#last-release{
    display: flex;
    flex-direction: column;
}
#last-release div{
    text-align: center;
}
.info-h3{
    font-size: 2.8rem;
    font-weight: 600;
}
#last-release iframe{
    width: 100%;
    height: 670px;
    align-self: center;
}
#last-release a{
    color: var(--primary-text-color);
}

        /* TOUR SECTION STYLES */
#tour{
    display: flex;
    width: 100%;
    /* margin-left: 5%; */
    align-items: center;
    margin: 0;
}
#tour h3{
    margin-left: 10%;

}
#tour p{
    font-size: 1.2rem;
    margin-left: 10%;
}
#tour p::after{
    content: '';
    display: block;
    position: relative;
    width: 79%;
    height: 4px;
    background-color:var(--primary-text-color);
}
#tour a{
    width: 100%;
}
#tour img{
    width: 100%;
    flex-grow: 3;
}

        /* RECENT ALBUM SECTION STYLES */
#recent-album{
    display:flex;
    width: 90%;
    margin-left: 5%;
    margin-top: 0;
}
#new-album-title{
    margin:0
}
#recent-album div{
    margin-left: 20px;
}
#album-music-videos{
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    margin-left: 40px;
}
#info-h3{
    margin-top: 40px;
    display: block;
    text-align: center;
}
.music-video-cover a{
    color: var(--primary-text-color);
    text-decoration:none;
}
.music-video-cover a:hover{
    color: var(--red);
}
#video-autoplay{
    width: 100%;
    margin-left: 0;   
}
#video-autoplay h3,#video-autoplay p{
    text-align: center;
}
#video-autoplay iframe{
    position: relative;
    width: 100%;
    height: 90vh;
}

        /* PREVIOUS ALBUM STYLES */
#previous-albums h3{
    text-align: center;
}#previous-albums p:nth-child(1),h4{
    display:inline;
    text-align: center;
}
.cover-grid{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}
.album-cover:hover{
    color: var(--red);
}
.buy-now {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}
.buy-now p{
    font-weight: 600;
    display: inline;
    color:var(--buy-now-color)
}
.buy-now-button{
    margin-left: 100px;
    padding: 8px;
    border-radius: 2px 0 0 2px;
    background-color: var(--webshop-color);
}
.buy-now-price{
    margin-right: 60px;
    padding: 8px;
    border-radius: 0 2px 2px 0;
    background-color: var(--primary-text-color);
}
#aguafria{
    box-sizing: border-box;
    margin-left: 0;
    width: 100%;
    height: 85vh;
    overflow: hidden;
}
#aguafria img{
    width: 100%;
    opacity: .5;
}
#aguafria-text{
    position: absolute;
    margin-left: 20px;
    z-index: 10;
}
#aguafria-text p{
    font-size: 4rem;
}
#aguafria-text p>a{
    margin-top: 40px;
    color: var(--primary-text-color);
}
#aguafria-text a:hover{
    color: var(--red);
}
#aguafria-desc{
    font-size: 1.2rem !important
}



        /* Responsive styles */
    /* smartphones screens */
@media screen and (max-width:767px){
    body h1, h2, h3, h4, span{
        font-size: 1.4rem;
    }
    body p{
        font-size: 1rem;
    }
    
    #background-image-shadow{
        width: 100%;
    }
    #background-image-shadow img{
        bottom: 35%;
        transform: scale(.4);
    }
    .background-image img{
        height: 50vh;
        width: 100%;
    }
    .social{
        bottom: 280px;
        padding: 0;
        transform: scale(.8);
    }
    .content article{
        width: 100%;
        box-sizing: border-box;
        margin:0
    }
    #webshop{
        margin-top: 20px;
        margin: 0;
        border: 0;
    }
    #webshop p{
        /* font-size: 1rem; */
    }
    .info-h3{
        font-size: 1rem;
        padding: 0 10px;
        text-align: center;
    }
    #last-release iframe{
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }
    #new-release-p{
        /* font-size: 0.6rem; */
    }
    #tour{
        display: block;
    }
    #tour h3.info-h3{
        margin: 0;
    }
    #tour p{
        /* font-size: 0.6rem; */
        margin: 4px 0;
        text-align: center;
    }
    #tour a{
        position: relative;
        bottom: -4px;
    }
    #tour p::after {
        content: '';
        display: block;
        position: relative;
        width: 62%;
        margin-left: 19%;
        height: 2px;
        background-color: var(--primary-text-color);
    }
    #recent-album{
        display: block;
        margin: 0;
        width: 100%;
    }
    #recent-album div{
        margin: 0;
    }
    #recent-album p{
        /* font-size: .6rem; */
        text-align: center;
    }
    #recent-album img{
        width: 100%;
    }
    #album-music-videos{
        box-sizing: border-box;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 8px;
        column-gap: 8px;
        padding: 8px;
    }
    #video-autoplay iframe{
        width: 100%;
        height: 250px;
    }
    #previous-albums h4{
        font-size: 0.8rem;
        margin-left: 3%;
    }
    #previous-albums h4>p{
        font-size: 0.8rem;
    }
    .cover-grid{
        padding: 0 8px;
        box-sizing: border-box;
        justify-content: space-between;
        column-gap: 8px;
    }
    .album-cover{
        width: 100%;
        text-align: center;
    }
    .album-cover img{
        width: 100%;
        height: 176px;
    }
    .album-cover p{
        height: 38px;
    }
    .buy-now-button{
        width: 70%;
        margin-left: 20%;
        /* padding: 6px; */
    }
    .buy-now-price{
        width: 50%;
        margin-right: 0 ;
        padding: 8px;
    }
    #aguafria{
        height: 252.52px;
        margin-top: 12px;
    }
    #aguafria-text{
        margin-top: 60px;
    }
    #aguafria-text p{
        font-size: 1rem;
    }
    #aguafria-desc{
        font-size: 0.6rem !important; 
    }
    #record-company-logo img {
        margin-top: 20px;
        height: 80px;
    }
    #sponsors-grid img {
        width: 80px;
        height: 40px;
    }
    #booking{
        display: block;
        text-align: center;
        padding: 0 8px;
        column-gap: 8px;
        box-sizing: border-box;
    }
    #booking p{
        /* font-size: 0.5rem; */
    }

}
    /* tablets screens */
@media screen and (min-width:767px) and (max-width:1023px){

}



        /* KEYFRAMES */

@keyframes left-fade{
    0%{
        transform: translate(300px,0);
    }
    100%{
        transform: translate(0px,0);
    }
}

@keyframes right-fade{
    0%{
        transform: translate(0px,0);
    }
    100%{
        transform: translate(300px,0);
    }
}