:root{
    --primary-text-color : #f7f7f7;
    --red:red;
    --webshop-color:#EDD23B;
    --buy-now-color:rgb(56, 56, 56);
}
body{
    background-color: black;
    margin: 0;
    padding: 0;
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
}

        /* This code wil give style to the navbar */
.navbar{
    box-sizing: border-box;
    position: absolute;
    top:0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;
    background-color: black;
    opacity: 0.8;
}
.nav-right{
    position: relative;
    right: 0;
    width: 40%;
}
.nav-left{
    width: 40%;
    display:flex;
    flex-direction: row;  
    align-items: center;
}
.nav-left h1{
    font-size:32px ;
}
.nav-left img{
    width: 40px;
    margin-left: 20px;
}
.nav-ul{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly ;
    letter-spacing: 0.5px;
}
.nav-li{
    list-style: none;
    font-weight: bold;
}
.nav-li:hover{
    color: var(--red);
}
.nav-li a{
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-text-color);
    padding: 15px;
}
.nav-li a:hover{
    color: var(--red);
}
.dropdown ul{
    position: absolute;
    padding-left: 0;
    min-width: 100px;
    background-color: black;
    /* opacity: 0.8; */
    color: var(--primary-text-color);
    display: none;
}
.dropdown ul li{
    margin-top: 10px;
    line-height: 1.5;
}
.dropdown ul li a{
    padding: 0;
}
.dropdown:hover ul{
    display: block;
}
#mobile-menu{
    display: none;
}

        /* Styles for background items and logo */
.background-image{
    z-index: -10;
    top: 0;
}
#background-image-shadow{
    background-color:black;
    display: grid;
    width: 99vw;
    height: 100vh;
    z-index: -9;
    position: absolute;
    opacity: 0.65;
    overflow: hidden;
}
#background-image-shadow img{
    position: absolute;
    width: 512px;
    bottom: -250px;
    opacity: 1;
    z-index: 1;
    justify-self: center;
    object-fit: contain;
}
.background-image img{
    position: relative;
    margin: 0;
    padding: 0;
    width: 99vw;
    height: 100vh;
    z-index: -10;
    object-fit: cover;
}
.social{
    width:100%;
    padding: 0 35%;
    box-sizing: border-box;
    position:absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    left: auto;
    /* margin: auto; */
    margin-bottom: 2%;
    justify-content: space-evenly;
    align-items: center;
    z-index: 20;
}
.social a{
    text-decoration: none;
    color: var(--primary-text-color);
}
.social a:hover{
    color: var(--red);
}


        /* STYLES FOR THE ABOUT BAND CONTENT */
.content{
    display: flex;
}
.content article{
    width: 62%;
    margin-left: 19%;
    margin-top: 100px;
}
#info{
    width:100%;
}
        /* MERCH WEBSHOP SECTION STYLES */
#webshop{
    display: block;
    text-align: center;
    border: 4px solid white;
    margin: 0 0 0 19%;
}
#webshop a{
    color: var(--primary-text-color);
    text-decoration: none;
}
#webshop p{
    font-size: 2.5rem;
}
#webshop img{
    width: 100%;
    opacity: .7;
}
        /* LAST RELEASE SECTION STYLES */
#last-release{
    display: flex;
    flex-direction: column;
}
#last-release div{
    text-align: center;
}
.info-h3{
    font-size: 2.8rem;
    font-weight: 600;
}
#last-release iframe{
    width: 100%;
    height: 670px;
    align-self: center;
}
#last-release a{
    color: var(--primary-text-color);
}

        /* TOUR SECTION STYLES */
#tour{
    display: flex;
    width: 100%;
    /* margin-left: 5%; */
    align-items: center;
    margin: 0;
}
#tour h3{
    margin-left: 10%;

}
#tour p{
    font-size: 1.2rem;
    margin-left: 10%;
}
#tour p::after{
    content: '';
    display: block;
    position: relative;
    width: 79%;
    height: 4px;
    background-color:var(--primary-text-color);
}
#tour a{
    width: 100%;
}
#tour img{
    width: 100%;
    flex-grow: 3;
}

        /* RECENT ALBUM SECTION STYLES */
#recent-album{
    display:flex;
    width: 90%;
    margin-left: 5%;
    margin-top: 0;
}
#new-album-title{
    margin:0
}
#recent-album div{
    margin-left: 20px;
}
#album-music-videos{
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    margin-left: 40px;
}
#info-h3{
    margin-top: 40px;
    display: block;
    text-align: center;
}
.music-video-cover a{
    color: var(--primary-text-color);
    text-decoration:none;
}
.music-video-cover a:hover{
    color: var(--red);
}
#video-autoplay{
    width: 100%;
    margin-left: 0;   
}
#video-autoplay h3,#video-autoplay p{
    text-align: center;
}
#video-autoplay iframe{
    position: relative;
    width: 100%;
    height: 90vh;
}

        /* PREVIOUS ALBUM STYLES */
#previous-albums h3{
    text-align: center;
}#previous-albums p:nth-child(1),h4{
    display:inline;
    text-align: center;
}
.cover-grid{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}
.album-cover:hover{
    color: var(--red);
}
.buy-now {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}
.buy-now p{
    font-weight: 600;
    display: inline;
    color:var(--buy-now-color)
}
.buy-now-button{
    margin-left: 100px;
    padding: 8px;
    border-radius: 2px 0 0 2px;
    background-color: var(--webshop-color);
}
.buy-now-price{
    margin-right: 60px;
    padding: 8px;
    border-radius: 0 2px 2px 0;
    background-color: var(--primary-text-color);
}
#aguafria{
    box-sizing: border-box;
    margin-left: 0;
    width: 100%;
    height: 85vh;
    overflow: hidden;
}
#aguafria img{
    width: 100%;
    opacity: .5;
}
#aguafria-text{
    position: absolute;
    margin-left: 20px;
    z-index: 10;
}
#aguafria-text p{
    font-size: 4rem;
}
#aguafria-text p>a{
    margin-top: 40px;
    color: var(--primary-text-color);
}
#aguafria-text a:hover{
    color: var(--red);
}
#aguafria-desc{
    font-size: 1.2rem !important
}
#record-company{
    align-items: center;
    margin-left: 10%;
    width: 80%;
}
#record-company p{
    position: relative;
    text-align: center;
}
#record-company-logo img{
    height: 200px;
}
#record-company-logo{
    display: flex;
    justify-content: space-evenly;
}
#sponsors-grid{
    display: content;
}
#sponsors-grid a{
    text-decoration: none;
    padding: 5px;
    overflow: hidden;
}
#sponsors-grid img{
    width: 200px;
    height: 100px;
}
#management-booking{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#management {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-wrap: wrap;
}
#management p:nth-child(3){
    margin: 0;
}
#management-booking span{
    margin-top: 40px;
}
#booking{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.mail{
    text-decoration: underline;
}
.region{
    color: var(--red);
}
#management-span{
    color: var(--red);
}
#footer{
    margin-top: 40px;
 text-align: center;   
}
#footer a{
    color: var(--primary-text-color);
}


        /* KEYFRAMES */
@keyframes webshop-animation{
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

        /* Responsive styles */
    /* smartphones screens */
@media screen and (max-width:767px){
    body h1, h2, h3, h4, span{
        font-size: 1rem;
    }
    p{
        font-size: 0.6rem;
    }
    .navbar{
        position: fixed;
        height: 40px;
    }
    .navbar h1{
        /* display: none; */
        font-size: 1.2rem;
    }
    .navbar img{
        display: none;
    }
    .nav-right{
        display: none;
    }


    #mobile-menu{
        position: absolute;
        right: 0;
        margin-right: 16px;
        display: block;
    }
    #background-image-shadow{
        width: 100%;
    }
    #background-image-shadow img{
        bottom: 35%;
        transform: scale(.4);
    }
    .background-image img{
        height: 50vh;
        width: 100%;
    }
    .social{
        /* top: -24px; */
        top: 0px;
        padding: 0;
        transform: scale(.8);
    }
    .content article{
        width: 100%;
        box-sizing: border-box;
        margin:0
    }
    #webshop{
        margin-top: 20px;
        margin: 0;
        border: 0;
    }
    #webshop p{
        font-size: 1rem;
    }
    .info-h3{
        font-size: 1rem;
        padding: 0 10px;
        text-align: center;
    }
    #last-release iframe{
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }
    #new-release-p{
        font-size: 0.6rem;
    }
    #tour{
        display: block;
    }
    #tour h3.info-h3{
        margin: 0;
    }
    #tour p{
        font-size: 0.6rem;
        margin: 4px 0;
        text-align: center;
    }
    #tour a{
        position: relative;
        bottom: -4px;
    }
    #tour p::after {
        content: '';
        display: block;
        position: relative;
        width: 62%;
        margin-left: 19%;
        height: 2px;
        background-color: var(--primary-text-color);
    }
    #recent-album{
        display: block;
        margin: 0;
        width: 100%;
    }
    #recent-album div{
        margin: 0;
    }
    #recent-album p{
        font-size: .6rem;
        text-align: center;
    }
    #recent-album img{
        width: 100%;
    }
    #album-music-videos{
        box-sizing: border-box;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 8px;
        column-gap: 8px;
        padding: 8px;
    }
    #video-autoplay iframe{
        width: 100%;
        height: 250px;
    }
    #previous-albums h4{
        font-size: 0.6rem;
        margin-left: 12%;
    }
    .cover-grid{
        padding: 0 8px;
        box-sizing: border-box;
        justify-content: space-between;
        column-gap: 8px;
    }
    .album-cover{
        width: 100%;
        text-align: center;
    }
    .album-cover img{
        width: 100%;
        height: 176px;
    }
    .buy-now-button{
        width: 50%;
        margin-left: 40%;
        padding: 6px;
    }
    .buy-now-price{
        width: 50%;
        margin-right: 25% ;
        
        padding: 6px;
    }
    #aguafria{
        height: 252.52px;
        margin-top: 12px;
    }
    #aguafria-text{
        margin-top: 60px;
    }
    #aguafria-text p{
        font-size: 1rem;
    }
    #aguafria-desc{
        font-size: 0.6rem !important; 
    }
    #record-company-logo img {
        margin-top: 20px;
        height: 80px;
    }
    #sponsors-grid img {
        width: 80px;
        height: 40px;
    }
    #booking{
        padding: 0 8px;
        column-gap: 8px;
        box-sizing: border-box;
    }
    #booking p{
        font-size: 0.5rem;
    }

}
    /* tablets screens */
@media screen and (min-width:767px) and (max-width:1023px){

}